<div class="modal-header">
  <h4 class="modal-title pull-left">Login</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <alert *ngIf="message" [type]="messageType" dismissOnTimeout="5000" dismissible="true">
        {{message}}
      </alert>
      <form id="login-form" role="form" style="display: block;">
        <div class="form-group">
          <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" value="" [(ngModel)]="signUpObj.email">
        </div>
        <div class="form-group">
          <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password
         " [(ngModel)]="signUpObj.password">
        </div>
        <div class="form-group">
          <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
          <label for="remember"> Remember Me</label>
        </div>
        <div class="form-group text-center">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-outline-success
         " value="Log In" (click)="doLogin()">
            </div>
            <div class="col-sm-6 col-sm-offset-3 text-center">
              <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
            </div>
            <div class="col-sm-6 col-sm-offset-3 text-left">
              <a href="javascript:void(0);" tabindex="5" class="forgot-password" (click)="openSignUpModal()">New to the system?</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>