<alert *ngIf="message" [type]="messageType" [dismissOnTimeout]="alertDismiss" dismissible="true">
  {{message}}
</alert>
<div *ngIf="isOrderDetails || sharedService.getEditedOrder().id">
  <h4>Order {{orderStatus === 'SAVED'?sharedService.getEditedOrder().id:curOrder.id}}:</h4>
</div>
<div class="card">
  <div class="col-xs-12 col-md-12 form-group text-right submit-cart" *ngIf="isOrderDetails || sharedService.getEditedOrder().id">
    <ol class="progtrckr" data-progtrckr-steps="5">
      <li [ngClass]="{'progtrckr-done':orderStatuses[orderStatus] >= 1, 'progtrckr-todo':orderStatuses[orderStatus] < 1}">Saved</li>

      <li [ngClass]="{'progtrckr-done':orderStatuses[orderStatus] >= 2, 'progtrckr-todo':orderStatuses[orderStatus] < 2}">Confirming</li>

      <li [ngClass]="{'progtrckr-done':orderStatuses[orderStatus] >= 3, 'progtrckr-todo':orderStatuses[orderStatus] < 3}">Preparing</li>

      <li [ngClass]="{'progtrckr-done':orderStatuses[orderStatus] >= 4, 'progtrckr-todo':orderStatuses[orderStatus] < 4}">Out for delivery</li>

      <li [ngClass]="{'progtrckr-done':orderStatuses[orderStatus] == 5, 'progtrckr-todo':orderStatuses[orderStatus] < 5}">Delivered</li>
    </ol>
  </div>
  <table class="table table-hover shopping-cart-wrap">
    <thead class="text-muted">
      <tr>
        <th scope="col">Products</th>
        <th scope="col" width="120">Quantity</th>
        <th scope="col" width="120">Price</th>
        <th scope="col" width="200" class="text-right">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productDetails">
        <td>
          <figure class="media">
            <div class="img-wrap">
              <img [src]="item.privewImages[0]" class="img-thumbnail img-sm">
            </div>
            <figcaption class="media-body">
              <a href="javascript:void(0);" (click)="gotoProductDetails(item)">
                <span class="title text-truncate" (click)="gotoProductDetails(item)">{{item.title}}</span>
              </a>
              <dl *ngIf="item.stockCount === 0" class="param param-inline small out-of-stock">
                <dd>Out of stock!</dd>
              </dl>
              <dl *ngIf="item.stockCount <= item.thresholdStockCount && item.stockCount !== 0" class="param param-inline small">
                <dd>Hurry! Only {{item.stockCount>1?item.stockCount +' are': item.stockCount + ' is'}} left!</dd>
              </dl>
            </figcaption>
          </figure>
        </td>
        <td>
          <select class="form-control" [(ngModel)]="item.quantity" [disabled]="item.isAddedToCart || !isEditable || item.stockCount===0">
            <option [ngValue]="1">1</option>
            <option [ngValue]="2" *ngIf="item.stockCount >=2">2</option>
            <option [ngValue]="3" *ngIf="item.stockCount >=3">3</option>
            <option [ngValue]="4" *ngIf="item.stockCount >=4">4</option>
          </select>
        </td>
        <td>
          <div class="price-wrap">
            <var class="price">Rs. {{item.quantity*item.currentPrice}}</var>
            <small class="text-muted">(Rs. {{item.currentPrice}} each)</small>
          </div>
          <!-- price-wrap .// -->
        </td>
        <td class="text-right">
          <a *ngIf="!item.isAddedToCart && isEditable && item.stockCount !== 0" href="javascript:void(0);" class="btn btn-outline-success"
            data-toggle="tooltip" data-original-title="Save to Wishlist" (click)="onCartUpdate(item)">
            <i class="fa fa-cart-plus"></i> Add to cart
          </a>
          <a *ngIf="item.isAddedToCart && isEditable && item.stockCount !== 0" href="javascript:void(0);" class="btn btn-outline-danger"
            (click)="onCartUpdate(item)">
            × Remove</a>
        </td>
      </tr>
      <tr *ngIf="sharedService && sharedService.getUser().isLogged">
        <td colspan="2" class="text-right">
          <span>
            <b>Total:</b>
          </span>
        </td>
        <td colspan="2">
          <div class="price-wrap">
            <var class="price">Rs. {{total}}</var>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="sharedService && sharedService.getUser().isLogged">
    <form class="row">
      <div class="col-xs-6 col-md-6 form-group">
        <label *ngIf="isEditable">Order date &amp; time</label>
        <span *ngIf="isEditable">
          <input type="time" name="ordertime" id="ordertime" class="order form-control" placeholder="order time" [ngModel]="sharedService.getEditedOrder().time"
            (ngModelChange)="sharedService.getEditedOrder().time = $event" min="08:00" max="20:00">
          <input type="date" name="orderdate" id="orderdate" class="order form-control" placeholder="order date" [ngModel]="sharedService.getEditedOrder().date||curOrder.date | date:'yyyy-MM-dd'"
            (ngModelChange)="sharedService.getEditedOrder().date = $event" [min]="minDate" [max]="maxDate">
        </span>
        <span *ngIf="!isEditable">
          <dl class="param param-inline">
            <dt>Ordered Date &amp; TIme: </dt>
            <dd> {{curOrder.time}}, {{curOrder.date}}</dd>
          </dl>
        </span>
      </div>
      <div class="col-xs-6 col-md-6 form-group text-right submit-cart" *ngIf="isEditable">
        <button class="btn btn-outline-danger" (click)="clearCart();" [disabled]="sharedService.getCartSize()===0">
          <i class="fa fa-times-circle"></i>&nbsp;Clear Cart
        </button>
        <button class="btn btn-outline-success" (click)="postOrder(false);" [disabled]="sharedService.getCartSize()===0">
          <i class="fa fa-save"></i>&nbsp;Save
        </button>
        <button class="btn btn-outline-success" (click)="postOrder(true);" [disabled]="sharedService.getCartSize()===0">
          <i class="fa fa-check-circle"></i>&nbsp;Submit</button>
      </div>
    </form>
  </div>
</div>
<!-- card.// -->