/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 7.5em; /* Margin bottom by footer height */
  padding: 0 20px;
}